<div {{ clAttributes }}>
  <h2 class="cl-component--my-card__header">{{ header }}</h2>
  <div class="cl-component--my-card__body">
    {% block card_body %}
      Default contents of a card
    {% endblock %}
  </div>
</div>
