.breadcrumb {
    margin-bottom: 0px;
    // @include padding-lr();

    &-item {
        letter-spacing: 0;
        font-family: var(--font-family-roboto);
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;

        &.active {
            font-weight: bold;
            color: #000;
        }
        a {
            color: #6c757d;
        }
    }
}


// #block-eca-exchanges-breadcrumbs {
//     background-color: #fff;
//     // background-image: linear-gradient(180deg, #777676, #ccc, #ccc, #ccc, #ccc);
//     padding: 5px 0 !important;
//     border-bottom: 1px solid #777676;
//     z-index: 9;
//     position: relative;
// }