/* screen - exchange-programs-home-page-by-default */

.exchange-programs-home-page-by-default {
  background-color: var(--white);
  height: 4401px;
  overflow: hidden;
  position: relative;
  width: 2500px;
}

.exchange-programs-home-page-by-default .body {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: -131px;
  min-height: 4537px;
  position: absolute;
  top: 84px;
  width: 3034px;
}

.exchange-programs-home-page-by-default .overlap-group-container {
  align-self: center;
  height: 1092px;
  margin-right: 196.0px;
  position: relative;
  width: 2604px;
}

.exchange-programs-home-page-by-default .overlap-group8 {
  height: 244px;
  left: 0;
  position: absolute;
  top: 848px;
  width: 2580px;
}

.exchange-programs-home-page-by-default .path-13 {
  height: 243px;
  top: 0;
  width: 2520px;
}

.exchange-programs-home-page-by-default .the-us-department {
  left: 528px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 139px;
  width: 1660px;
}

// .exchange-programs-home-page-by-default 
.exchanges-programs-o {
  color: var(--deep-sapphire);
  font-family: var(--font-family-roboto);
  // font-size: 46px;
  // font-weight: 400;
  // left: 635px;
  // letter-spacing: 0;
  // line-height: 46px;
  // position: absolute;
  // top: 50px;
  // white-space: nowrap;
}

.exchange-programs-home-page-by-default .span0 {
  font-weight: 700;
}

.exchange-programs-home-page-by-default .x1 {
  height: 65px;
  left: 528px;
  object-fit: cover;
  position: absolute;
  top: 42px;
  width: 65px;
}

.exchange-programs-home-page-by-default .line-11 {
  height: 1px;
  left: 14px;
  object-fit: cover;
  position: absolute;
  top: 243px;
  width: 2566px;
}

.exchange-programs-home-page-by-default .overlap-group9 {
  height: 853px;
  left: 14px;
  position: absolute;
  top: 0;
  width: 2590px;
}

.exchange-programs-home-page-by-default .mask-group-1 {
  height: 852px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 2590px;
}

.exchange-programs-home-page-by-default .title-of-page {
  align-items: flex-start;
  background-color: #00286891;
  display: flex;
  height: 201px;
  left: 0;
  min-width: 2500px;
  padding: 52.5px 567px;
  position: absolute;
  top: 652px;
}

.exchange-programs-home-page-by-default .title {
  color: var(--white);
  font-family: var(--font-family-merriweather);
  font-size: 58px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 58px;
  min-height: 75px;
  min-width: 586px;
  text-align: center;
  white-space: nowrap;
}

.exchange-programs-home-page-by-default .section-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 51px;
  margin-left: 130.67px;
  min-height: 606px;
  width: 2500px;
}

.exchange-programs-home-page-by-default .overlap-group7 {
  height: 138px;
  position: relative;
  width: 2500px;
}

.exchange-programs-home-page-by-default .icon {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 46px;
  left: 0;
  min-height: 127px;
  position: absolute;
  top: 0;
  width: 2500px;
}

.exchange-programs-home-page-by-default .line-9 {
  height: 1px;
  object-fit: cover;
  width: 2500px;
}

.exchange-programs-home-page-by-default .x2 {
  height: 80px;
  margin-left: 505px;
  object-fit: cover;
  width: 80px;
}

.exchange-programs-home-page-by-default .title-of-section {
  left: 621px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 72px;
  width: 355px;
}

.exchange-programs-home-page-by-default .exchanges-programs {
  left: 623px;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  top: 41px;
  white-space: nowrap;
}

.exchange-programs-home-page-by-default .card-container {
  align-items: flex-start;
  display: flex;
  height: 417px;
  margin-left: 7.0px;
  min-width: 1483px;
}

.exchange-programs-home-page-by-default .card-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 415px;
  width: 458px;
}

.exchange-programs-home-page-by-default .x17 {
  height: 258px;
  margin-left: 2px;
  object-fit: cover;
  width: 456px;
}

.exchange-programs-home-page-by-default .title-up {
  letter-spacing: 0;
  line-height: 15px;
  margin-left: 2px;
  margin-top: 10px;
  min-height: 22px;
  width: 390px;
}

.exchange-programs-home-page-by-default .titleof-card-2 {
  letter-spacing: 0;
  line-height: 38px;
  margin-top: 4px;
  min-height: 83px;
  width: 442px;
}

.exchange-programs-home-page-by-default .flex-row {
  align-items: center;
  display: flex;
  gap: 8px;
  height: 36px;
  margin-top: 8px;
  min-width: 158px;
}

.exchange-programs-home-page-by-default .learn-more {
  letter-spacing: 0;
  line-height: 26px;
  min-height: 36px;
  min-width: 136px;
  white-space: nowrap;
}

.exchange-programs-home-page-by-default .link-icon {
  height: 14px;
  margin-bottom: 5.0px;
  object-fit: cover;
  width: 14px;
}

.exchange-programs-home-page-by-default .card-2 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 55px;
  min-height: 416px;
  width: 456px;
}

.exchange-programs-home-page-by-default .section-1-news-photos {
  height: 258px;
  margin-left: 0;
  object-fit: cover;
  width: 456px;
}

.exchange-programs-home-page-by-default .title-up-1 {
  margin-top: 11px;
}

.exchange-programs-home-page-by-default .titleof-card-3 {
  letter-spacing: 0;
  line-height: 38px;
  margin-top: 3px;
  min-height: 83px;
  width: 390px;
}

.exchange-programs-home-page-by-default .flex-row-1 {
  align-items: center;
  display: flex;
  gap: 8px;
  height: 36px;
  margin-top: 9px;
  min-width: 158px;
}

.exchange-programs-home-page-by-default .link-icon-1 {
  margin-bottom: 6.0px;
}

.exchange-programs-home-page-by-default .card-3 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-left: 54px;
  margin-top: 1.0px;
  min-height: 414px;
  width: 460px;
}

.exchange-programs-home-page-by-default .title-up-2 {
  margin-top: 12px;
}

.exchange-programs-home-page-by-default .titleof-card-4 {
  letter-spacing: 0;
  line-height: 38px;
  margin-left: 2px;
  margin-top: 4px;
  min-height: 83px;
  width: 458px;
}

.exchange-programs-home-page-by-default .flex-row-2 {
  align-items: center;
  display: flex;
  gap: 8px;
  height: 36px;
  margin-left: 5px;
  margin-top: 5px;
  min-width: 158px;
}

.exchange-programs-home-page-by-default .link-icon-2 {
  margin-bottom: 6.49px;
}

.exchange-programs-home-page-by-default .overlap-group6 {
  align-self: flex-end;
  height: 935px;
  margin-right: 0;
  margin-top: 90px;
  position: relative;
  width: 2904px;
}

.exchange-programs-home-page-by-default .icon-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-content: center;
  left: 0;
  min-height: 935px;
  position: absolute;
  top: 0;
  width: 2500px;
}

.exchange-programs-home-page-by-default .overlap-group {
  height: 932px;
  position: relative;
  width: 2500px;
}

.exchange-programs-home-page-by-default .rectangle-13 {
  background-color: var(--endeavour);
  height: 932px;
  left: 0;
  opacity: 0.06;
  position: absolute;
  top: 0;
  width: 2500px;
}

.exchange-programs-home-page-by-default .line-9-1 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 2500px;
}

.exchange-programs-home-page-by-default .x3 {
  height: 75px;
  left: 506px;
  object-fit: cover;
  position: absolute;
  top: 50px;
  width: 75px;
}

.exchange-programs-home-page-by-default .line-13 {
  height: 1px;
  margin-left: 1px;
  object-fit: cover;
  width: 2497px;
}

.exchange-programs-home-page-by-default .title-of-section-1 {
  left: 622px;
  top: 72px;
  width: 775px;
}

.exchange-programs-home-page-by-default .card-2-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 126px;
  left: 607px;
  min-height: 829px;
  position: absolute;
  top: 46px;
  width: 450px;
}

.exchange-programs-home-page-by-default .read-my-story-1 {
  margin-left: 17px;
  margin-top: -5px;
}

.exchange-programs-home-page-by-default .overlap-group1 {
  background-image: url(../img/2-1x-png-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 670px;
  position: relative;
  width: 450px;
}

.exchange-programs-home-page-by-default .path-24 {
  height: 255px;
  top: 415px;
  width: 446px;
}

.exchange-programs-home-page-by-default .label-1 {
  left: 43px;
  top: 423px;
}

.exchange-programs-home-page-by-default .read-my-story {
  letter-spacing: 0;
  line-height: 38px;
  margin-bottom: -8px;
  margin-top: -5px;
  min-height: 30px;
  white-space: nowrap;
}

.exchange-programs-home-page-by-default .titleof-card {
  letter-spacing: 0;
  line-height: 42px;
  margin-top: 13px;
  min-height: 92px;
  width: 372px;
}

.exchange-programs-home-page-by-default .button {
  align-items: center;
  background-color: var(--cobalt);
  border-radius: 32px;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  gap: 20px;
  height: 64px;
  justify-content: flex-end;
  margin-top: 19px;
  min-width: 246px;
  padding: 0 26px;
}

.exchange-programs-home-page-by-default .read-more {
  letter-spacing: 0;
  line-height: 38px;
  min-height: 39px;
  min-width: 138px;
  white-space: nowrap;
}

.exchange-programs-home-page-by-default .left {
  height: 21px;
  margin-top: 3.0px;
  object-fit: cover;
  width: 21px;
}

.exchange-programs-home-page-by-default .card-3-1 {
  align-items: flex-end;
  background-image: url(../img/3-1x-png-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 670px;
  left: 1069px;
  min-width: 450px;
  padding: 0 0.0px;
  position: absolute;
  top: 205px;
}

.exchange-programs-home-page-by-default .overlap-group2 {
  align-items: flex-start;
  background-image: url(../img/path-25@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  min-height: 258px;
  padding: 7.0px 34.0px;
  width: 446px;
}

.exchange-programs-home-page-by-default .read-my-story-2 {
  margin-bottom: -8px;
  margin-left: 6.0px;
}

.exchange-programs-home-page-by-default .titleof-card-1 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 42px;
  margin-top: 13px;
  min-height: 92px;
  width: 372px;
}

.exchange-programs-home-page-by-default .button-1 {
  align-items: center;
  background-color: var(--cobalt);
  border-radius: 32px;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  gap: 20px;
  height: 64px;
  justify-content: flex-end;
  margin-left: 8.0px;
  margin-top: 18px;
  min-width: 246px;
  padding: 0 26px;
}

.exchange-programs-home-page-by-default .card-4 {
  align-items: flex-end;
  background-image: url(../img/4-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 670px;
  left: 1531px;
  min-width: 450px;
  padding: 0 0.0px;
  position: absolute;
  top: 205px;
}

.exchange-programs-home-page-by-default .overlap-group3 {
  align-items: flex-start;
  background-image: url(../img/path-26@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  min-height: 258px;
  padding: 4.8px 26.0px;
  width: 446px;
}

.exchange-programs-home-page-by-default .read-my-story-3 {
  margin-bottom: -8px;
  margin-left: 22.0px;
}

.exchange-programs-home-page-by-default .button-2 {
  align-items: flex-start;
  display: flex;
  height: 59px;
  justify-content: center;
  margin-left: 22.0px;
  margin-top: 24px;
  min-width: 246px;
}

.exchange-programs-home-page-by-default .overlap-group-1 {
  align-items: flex-start;
  background-image: url(../img/path-17@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  gap: 20px;
  height: 77px;
  justify-content: flex-end;
  margin-top: -6px;
  min-width: 264px;
  padding: 16.5px 35px;
}

.exchange-programs-home-page-by-default .left-1 {
  align-self: center;
  height: 21px;
  margin-bottom: 2.0px;
  object-fit: cover;
  width: 21px;
}

.exchange-programs-home-page-by-default .card-1-1 {
  align-items: flex-end;
  background-image: url(../img/1-1x-png-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 670px;
  left: 145px;
  min-width: 450px;
  padding: 0 0.0px;
  position: absolute;
  top: 205px;
}

.exchange-programs-home-page-by-default .overlap-group4 {
  align-items: flex-start;
  background-image: url(../img/path-23-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  min-height: 254px;
  padding: 5.0px 31.0px;
  width: 446px;
}

.exchange-programs-home-page-by-default .read-my-story-4 {
  margin-bottom: -8px;
  margin-left: 12.0px;
}

.exchange-programs-home-page-by-default .button-3 {
  align-items: center;
  background-image: url(../img/path-22@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  gap: 20px;
  height: 65px;
  justify-content: flex-end;
  margin-left: 12.0px;
  margin-top: 18px;
  min-width: 246px;
  padding: 12.5px 26px;
}

.exchange-programs-home-page-by-default .read-more-1 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 38px;
  min-height: 39px;
  min-width: 138px;
  white-space: nowrap;
}

.exchange-programs-home-page-by-default .left-2 {
  height: 21px;
  margin-top: 6.0px;
  object-fit: cover;
  width: 21px;
}

.exchange-programs-home-page-by-default .card-6 {
  background-image: url(../img/6-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 670px;
  left: 2454px;
  position: absolute;
  top: 202px;
  width: 450px;
}

.exchange-programs-home-page-by-default .overlap-group5 {
  height: 673px;
  left: 1991px;
  position: absolute;
  top: 202px;
  width: 450px;
}

.exchange-programs-home-page-by-default .x5 {
  height: 670px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 450px;
}

.exchange-programs-home-page-by-default .path-27 {
  height: 258px;
  top: 415px;
  width: 446px;
}

.exchange-programs-home-page-by-default .label-4 {
  left: 37px;
  top: 426px;
}

.exchange-programs-home-page-by-default .button-4 {
  align-items: center;
  background-color: var(--cobalt);
  border-radius: 32px;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  gap: 12px;
  height: 59px;
  justify-content: flex-end;
  margin-top: 24px;
  min-width: 246px;
  padding: 9.5px 26px;
}

.exchange-programs-home-page-by-default .learn-more-1 {
  align-self: flex-end;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxxl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 38px;
  min-height: 39px;
  min-width: 146px;
  white-space: nowrap;
}

.exchange-programs-home-page-by-default .left-3 {
  height: 21px;
  margin-top: 4.0px;
  object-fit: cover;
  width: 21px;
}

.exchange-programs-home-page-by-default .left-indicator {
  display: flex;
  height: 101px;
  left: 21px;
  position: absolute;
  top: 502px;
  width: 101px;
}

.exchange-programs-home-page-by-default .x6 {
  flex: 1;
  margin-bottom: -12px;
  margin-left: -9px;
  margin-right: -9px;
  margin-top: -6px;
  object-fit: cover;
  width: 119px;
}

.exchange-programs-home-page-by-default .right-indicator {
  display: flex;
  height: 101px;
  left: 2392px;
  position: absolute;
  top: 502px;
  width: 101px;
}

.exchange-programs-home-page-by-default .x7 {
  flex: 1;
  margin-bottom: -12px;
  margin-left: -9px;
  margin-right: -9px;
  margin-top: -6px;
  object-fit: cover;
  width: 119px;
}

.exchange-programs-home-page-by-default .overlap-group-container-1 {
  height: 1811px;
  margin-top: 5px;
  position: relative;
  width: 2631px;
}

.exchange-programs-home-page-by-default .overlap-group-2 {
  height: 931px;
  left: 0;
  position: absolute;
  top: 880px;
  width: 2631px;
}

.exchange-programs-home-page-by-default .path-1 {
  height: 711px;
  top: 0;
  width: 2631px;
}

.exchange-programs-home-page-by-default .grid-one {
  align-items: flex-start;
  display: flex;
  height: 64px;
  left: 621px;
  min-width: 493px;
  position: absolute;
  top: 50px;
}

.exchange-programs-home-page-by-default .x7-1 {
  align-self: center;
  background-image: url(../img/rectangle-3-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 44px;
  margin-bottom: 9.59px;
  width: 67px;
}

.exchange-programs-home-page-by-default .x1-1 {
  height: 49px;
  margin-left: 28px;
  margin-top: 3px;
  object-fit: cover;
  width: 49px;
}

.exchange-programs-home-page-by-default .flex-col {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin-bottom: -7.5px;
  margin-left: 20px;
  min-height: 69px;
  width: 329px;
}

.exchange-programs-home-page-by-default .bureau-of-educationa {
  letter-spacing: 0;
  line-height: 14px;
  min-height: 21px;
  white-space: nowrap;
}

.exchange-programs-home-page-by-default .exchange-programs {
  line-height: 34px;
  min-height: 47px;
}

.exchange-programs-home-page-by-default .text-grid-one {
  align-items: flex-start;
  flex-direction: column;
  gap: 2px;
  left: 620px;
  min-height: 368px;
  padding: 3px 0;
  top: 176px;
  width: 204px;
}

.exchange-programs-home-page-by-default .find-programs {
  letter-spacing: 0;
  line-height: 18px;
  min-height: 26px;
  white-space: nowrap;
}

.exchange-programs-home-page-by-default .line-1 {
  height: 8px;
  left: 623px;
  object-fit: cover;
  position: absolute;
  top: 124px;
  width: 1488px;
}

.exchange-programs-home-page-by-default .us-department-of-st {
  height: 302px;
  left: 620px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 629px;
  width: 1356px;
}

.exchange-programs-home-page-by-default .line-2 {
  height: 7px;
  left: 623px;
  object-fit: cover;
  position: absolute;
  top: 125px;
  width: 1488px;
}

.exchange-programs-home-page-by-default .line-3 {
  height: 8px;
  left: 620px;
  object-fit: cover;
  position: absolute;
  top: 587px;
  width: 1488px;
}

.exchange-programs-home-page-by-default .text-grid-two {
  flex-direction: column;
  height: 200px;
  justify-content: space-between;
  left: 1019px;
  top: 175px;
  width: 205px;
}

.exchange-programs-home-page-by-default .exchange-experience {
  flex: 1;
  height: 26px;
  line-height: 18px;
  margin-right: -2px;
  margin-top: 3px;
  max-height: 26px;
}

.exchange-programs-home-page-by-default .text-grid-three {
  align-items: flex-start;
  gap: 216px;
  height: 396px;
  left: 1417px;
  min-width: 625px;
  top: 177px;
}

.exchange-programs-home-page-by-default .flex-col-1 {
  align-self: center;
  gap: 2px;
  min-height: 390px;
  width: 205px;
}

.exchange-programs-home-page-by-default .exchange-experience-1 {
  letter-spacing: 0;
  line-height: 18px;
  min-height: 26px;
  white-space: nowrap;
}

.exchange-programs-home-page-by-default .social-media-icons {
  align-items: center;
  display: flex;
  height: 45px;
  left: 1834px;
  min-width: 258px;
  position: absolute;
  top: 68px;
}

.exchange-programs-home-page-by-default .x11 {
  height: 40px;
  margin-bottom: 1.0px;
  margin-left: 11px;
  object-fit: cover;
  width: 40px;
}

.exchange-programs-home-page-by-default .overlap-group1-1 {
  height: 1026px;
  left: 131px;
  position: absolute;
  top: 0;
  width: 2500px;
}

.exchange-programs-home-page-by-default .rectangle-27 {
  background-color: #b89d51;
  height: 875px;
  left: 0;
  opacity: 0.04;
  position: absolute;
  top: 0;
  width: 2500px;
}

.exchange-programs-home-page-by-default .background {
  height: 1024px;
  left: 121px;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 1768px;
}

.exchange-programs-home-page-by-default .card-of-the-image-story {
  display: flex;
  height: 513px;
  left: 514px;
  position: absolute;
  top: 238px;
  width: 914px;
}

.exchange-programs-home-page-by-default .story-of-the-month {
  flex: 1;
  margin-bottom: -12px;
  margin-left: -9px;
  margin-right: -9px;
  margin-top: -6px;
  object-fit: cover;
  width: 932px;
}

.exchange-programs-home-page-by-default .title-of-section-2 {
  left: 494px;
  text-align: center;
  top: 116px;
  width: 730px;
}

.exchange-programs-home-page-by-default .read-our-story {
  left: 623px;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  top: 84px;
  white-space: nowrap;
}

.exchange-programs-home-page-by-default .story-of-the-month-1 {
  height: 80px;
  left: 514px;
  object-fit: cover;
  position: absolute;
  top: 91px;
  width: 80px;
}

.exchange-programs-home-page-by-default .overlap-group-3 {
  align-items: flex-start;
  background-image: url(../img/path-19@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  left: 1449px;
  min-height: 539px;
  padding: 61px 22px;
  position: absolute;
  top: 224px;
  width: 562px;
}

.exchange-programs-home-page-by-default .read-our-story-1 {
  letter-spacing: 0;
  line-height: 38px;
  margin-bottom: -8px;
  margin-left: 27px;
  margin-top: 66px;
  min-height: 30px;
  white-space: nowrap;
}

.exchange-programs-home-page-by-default .titleof-card-5 {
  align-self: flex-end;
  color: var(--deep-sapphire);
  font-family: var(--font-family-roboto);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 42px;
  margin-top: 33px;
  min-height: 134px;
  width: 491px;
}

.exchange-programs-home-page-by-default .lorem-ipsum-is-simpl {
  align-self: center;
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-weight: 700;
  height: 101px;
  letter-spacing: 0;
  line-height: 19px;
  margin-right: 3.0px;
  margin-top: 8px;
  width: 459px;
}

.exchange-programs-home-page-by-default .span0-1 {
  font-weight: 400;
}

.exchange-programs-home-page-by-default .button-5 {
  display: flex;
  height: 37px;
  margin-left: 28px;
  margin-top: 8px;
  width: 186px;
}

.exchange-programs-home-page-by-default .read-the-story {
  color: var(--cobalt);
  flex: 1;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxxl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 38px;
  margin-bottom: -1.5px;
  margin-right: -2px;
  margin-top: -0.5px;
  white-space: nowrap;
  width: 186px;
}

.exchange-programs-home-page-by-default .top-header {
  align-items: flex-start;
  display: flex;
  gap: 247px;
  height: 90px;
  left: -8px;
  min-width: 2760px;
  position: fixed;
  top: 0;
}

.exchange-programs-home-page-by-default .overlap-group12 {
  align-items: flex-end;
  background-image: url(../img/path-15-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  gap: 156px;
  min-width: 2511px;
  padding: 0 8px;
}

.exchange-programs-home-page-by-default .overlap-group-4 {
  height: 84px;
  position: relative;
  width: 358px;
}

.exchange-programs-home-page-by-default .main-menu {
  align-items: flex-start;
  background-image: url(../img/path-16-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  gap: 17px;
  height: 84px;
  left: 0;
  min-width: 358px;
  padding: 14px 53px;
  position: absolute;
  top: 0;
}

.exchange-programs-home-page-by-default .flex-col-2 {
  gap: 8px;
  margin-bottom: 2.5px;
  min-height: 52px;
  width: 1943px;
}

.exchange-programs-home-page-by-default .flex-row-3 {
  align-items: flex-start;
  display: flex;
  gap: 125px;
  height: 39px;
  min-width: 1943px;
}

.exchange-programs-home-page-by-default .home-exchang {
  align-self: flex-end;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 34px;
  min-width: 1786px;
  white-space: nowrap;
}

.exchange-programs-home-page-by-default .search {
  height: 32px;
  object-fit: cover;
  width: 32px;
}

.exchange-programs-home-page-by-default .line-12 {
  height: 5px;
  margin-left: 118px;
  object-fit: cover;
  width: 229px;
}

.exchange-programs-home-page-by-default .x3-1 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 8px;
  min-height: 2px;
  min-width: 2px;
  white-space: nowrap;
}

.exchange-programs-home-page-by-default .lorem-ipsum-dolor-si {
  align-self: flex-end;
  height: 39px;
  letter-spacing: 0;
  line-height: 28px;
  margin-bottom: -18.2px;
  margin-left: 274px;
  width: 1402px;
}

.exchange-programs-home-page-by-default .image-1 {
  cursor: pointer;
  height: 47px;
  margin-right: 341px;
  margin-top: -21.6px;
  object-fit: cover;
  width: 475px;
}

.exchange-programs-home-page-by-default .rectangle-37 {
  border: 1px solid;
  border-color: var(--midnight);
  cursor: pointer;
  height: 69px;
  left: 373px;
  position: absolute;
  top: 6px;
  width: 221px;
}

.exchange-programs-home-page-by-default .rectangle-37-1 {
  border: 1px solid;
  border-color: var(--midnight);
  height: 64px;
  left: 629px;
  position: absolute;
  top: 6px;
  width: 251px;
}

.exchange-programs-home-page-by-default .exchange {
  letter-spacing: 0;
  white-space: nowrap;
}

.exchange-programs-home-page-by-default .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.exchange-programs-home-page-by-default .label {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 213px;
  position: absolute;
  width: 372px;
}

.exchange-programs-home-page-by-default .path {
  left: 0;
  object-fit: cover;
  position: absolute;
}

.exchange-programs-home-page-by-default .read-my-story-5 {
  letter-spacing: 0;
  line-height: 38px;
  min-height: 30px;
  white-space: nowrap;
}

.exchange-programs-home-page-by-default .title-of-section-3 {
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
}

.exchange-programs-home-page-by-default .title-up-3 {
  letter-spacing: 0;
  line-height: 15px;
  min-height: 22px;
  width: 390px;
}