/* screen - non-u-s-citizens-8 */

.non-u-s-citizens-8 {
  background-color: var(--white);
  height: 4518px;
  overflow: hidden;
  position: relative;
  width: 2500px;
}

.non-u-s-citizens-8 .body {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: -131px;
  min-height: 4553px;
  position: absolute;
  top: 187px;
  width: 2674px;
}

.non-u-s-citizens-8 .sub-nav {
  align-items: flex-start;
  display: flex;
  margin-left: 271.67px;
  min-width: 543px;
}

.non-u-s-citizens-8 .link-one-back {
  cursor: pointer;
  display: flex;
  height: 29px;
  width: 212px;
}

.non-u-s-citizens-8 .exchange-programs {
  flex: 1;
  line-height: 22px;
  margin-bottom: -5.5px;
  margin-top: 3.5px;
  width: 212px;
}

.non-u-s-citizens-8 .link-two-back {
  cursor: pointer;
  display: flex;
  height: 29px;
  margin-left: 3px;
  width: 190px;
}

.non-u-s-citizens-8 .non-us-citizens {
  flex: 1;
  letter-spacing: 0;
  line-height: 22px;
  margin-bottom: -5.5px;
  margin-right: -2px;
  margin-top: 3.5px;
  white-space: nowrap;
  width: 190px;
}

.non-u-s-citizens-8 .link-four-back {
  display: flex;
  height: 29px;
  margin-left: 10px;
  width: 130px;
}

.non-u-s-citizens-8 .center-stage {
  color: #020533;
  flex: 1;
  font-family: var(--font-family-roboto);
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 22px;
  margin-bottom: -5.5px;
  margin-right: -2px;
  margin-top: 3.5px;
  white-space: nowrap;
  width: 130px;
}

.non-u-s-citizens-8 .overlap-group6 {
  align-self: flex-end;
  height: 872px;
  margin-right: 0;
  margin-top: 11px;
  position: relative;
  width: 2628px;
}

.non-u-s-citizens-8 .rectangle-32 {
  background-color: var(--endeavour);
  border: 1px solid;
  border-color: var(--dove-gray);
  height: 869px;
  left: 85px;
  opacity: 0.03;
  position: absolute;
  top: 3px;
  width: 2500px;
}

.non-u-s-citizens-8 .slide {
  height: 1px;
  left: 2499px;
  position: absolute;
  top: 280px;
  width: 1px;
}

.non-u-s-citizens-8 .line-5 {
  height: 1px;
  left: 60px;
  object-fit: cover;
  position: absolute;
  top: 871px;
  width: 2568px;
}

.non-u-s-citizens-8 .banner-image {
  display: flex;
  height: 722px;
  left: 170px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 26px;
  width: 2339px;
}

.non-u-s-citizens-8 .banner-detail {
  border-radius: 40px;
  flex: 1;
  margin-left: 0;
  margin-right: 0;
  object-fit: cover;
  width: 2339px;
}

.non-u-s-citizens-8 .line-7 {
  height: 7px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 2585px;
}

.non-u-s-citizens-8 .info-event {
  background-color: #07093e99;
  border-radius: 6px;
  display: flex;
  height: 123px;
  justify-content: space-between;
  left: 564px;
  position: absolute;
  top: 595px;
  width: 391px;
}

.non-u-s-citizens-8 .time {
  height: 56px;
  margin-left: 28px;
  margin-top: -27.6px;
  object-fit: cover;
  width: 56px;
}

.non-u-s-citizens-8 .program-lengthmonth-long-tours {
  align-self: flex-end;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-weight: 400;
  height: 70px;
  letter-spacing: 0;
  line-height: 32px;
  margin-bottom: -27.7px;
  margin-right: 47px;
  white-space: nowrap;
  width: 245px;
}

.non-u-s-citizens-8 .span1 {
  font-size: 32px;
}

.non-u-s-citizens-8 .overlap-group {
  height: 108px;
  left: 955px;
  position: absolute;
  top: 764px;
  width: 762px;
}

.non-u-s-citizens-8 .center-stage-at-a-glance {
  color: #070000;
  font-family: var(--font-family-merriweather);
  font-size: 58px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 58px;
  position: absolute;
  text-align: center;
  top: 32px;
  white-space: nowrap;
}

.non-u-s-citizens-8 .non-us-citizens-1 {
  left: 274px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.non-u-s-citizens-8 .section-1 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-left: 243.17px;
  margin-top: 12px;
  min-height: 1294px;
  width: 1688px;
}

.non-u-s-citizens-8 .overlap-group5 {
  height: 676px;
  margin-left: 1px;
  position: relative;
  width: 1689px;
}

.non-u-s-citizens-8 .by-mark-moralesupda {
  color: #090000;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-weight: 400;
  height: 64px;
  left: 96px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 2px;
  width: 668px;
}

.non-u-s-citizens-8 .span-1 {
  color: var(--black-2);
  font-weight: 700;
}

.non-u-s-citizens-8 .span1-1 {
  color: var(--dove-gray);
}

.non-u-s-citizens-8 .main-info {
  flex-direction: column;
  height: 676px;
  justify-content: space-between;
  width: 1689px;
}

.non-u-s-citizens-8 .portraits {
  border-radius: 35px;
  height: 57px;
  object-fit: cover;
  width: 57px;
}

.non-u-s-citizens-8 .center-stage-sm-is-a {
  color: var(--black);
  flex: 1;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxxxl);
  font-weight: 500;
  height: 191px;
  letter-spacing: 0;
  line-height: 48px;
  margin-bottom: 5px;
  margin-right: -2px;
  max-height: 191px;
}

.non-u-s-citizens-8 .experiments {
  border-radius: 2px;
  height: 370px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 80px;
  width: 1668px;
}

.non-u-s-citizens-8 .overlap-group4 {
  height: 449px;
  margin-top: 24px;
  position: relative;
  width: 1690px;
}

.non-u-s-citizens-8 .block-3 {
  align-items: flex-end;
  display: flex;
  height: 237px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1690px;
}

.non-u-s-citizens-8 .the-bureau-of-educat {
  color: var(--black);
  flex: 1;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxxxl);
  font-weight: 400;
  height: 239px;
  letter-spacing: 0;
  line-height: 48px;
  margin-right: -2px;
}

.non-u-s-citizens-8 .span-2 {
  font-weight: 700;
}

.non-u-s-citizens-8 .group {
  display: flex;
  gap: 38px;
  height: 264px;
  justify-content: flex-end;
  left: 0;
  position: absolute;
  top: 185px;
  width: 1650px;
}

.non-u-s-citizens-8 .center-stage-sm-suppo {
  color: var(--navy-blue);
  flex: 1;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxxxl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 48px;
  margin-bottom: 6px;
  margin-top: 23px;
}

.non-u-s-citizens-8 .span2 {
  color: var(--black-2);
}

.non-u-s-citizens-8 .span3 {
  color: var(--black-2);
  font-size: 32px;
}

.non-u-s-citizens-8 .span4 {
  color: var(--black-2);
  font-size: var(--font-size-xxxxl);
}

.non-u-s-citizens-8 .span5 {
  font-size: var(--font-size-xxxxl);
  text-decoration: underline;
}

.non-u-s-citizens-8 .span6 {
  font-size: 32px;
  text-decoration: underline;
}

.non-u-s-citizens-8 .illustrations-1 {
  margin-bottom: 35px;
  object-fit: cover;
  width: 278px;
}

.non-u-s-citizens-8 .info-event-1 {
  display: flex;
  height: 69px;
  justify-content: space-between;
  margin-left: 1px;
  margin-top: 76px;
  width: 330px;
}

.non-u-s-citizens-8 .time-1 {
  margin-top: 2px;
  object-fit: cover;
  width: 67px;
}

.non-u-s-citizens-8 .program-lengthmonth-long-tours-1 {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 32px;
  margin-bottom: -3px;
  margin-right: -2px;
  margin-top: 2px;
  white-space: nowrap;
  width: 245px;
}

.non-u-s-citizens-8 .section-2-light {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-left: 244.67px;
  margin-top: 48px;
  min-height: 550px;
  width: 1688px;
}

.non-u-s-citizens-8 .line-6 {
  height: 4px;
  margin-left: 0;
  margin-top: -2px;
  object-fit: cover;
  width: 1688px;
}

.non-u-s-citizens-8 .application {
  display: flex;
  gap: 15px;
  height: 80px;
  margin-left: 0.5px;
  margin-top: 34px;
  width: 1244px;
}

.non-u-s-citizens-8 .info {
  margin-bottom: 9px;
  margin-top: 4px;
  object-fit: cover;
  width: 67px;
}

.non-u-s-citizens-8 .title-of-section {
  color: var(--black);
  flex: 1;
  font-family: var(--font-family-roboto);
  font-size: 35px;
  font-weight: 400;
  height: 82px;
  letter-spacing: 0;
  line-height: 26px;
  margin-right: -2px;
  width: 1162px;
}

.non-u-s-citizens-8 .span0 {
  color: var(--deep-sapphire);
  font-weight: 700;
}

.non-u-s-citizens-8 .span1-2 {
  font-size: var(--font-size-xxxl);
}

.non-u-s-citizens-8 .flex-row {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  gap: 10px;
  height: 239px;
  margin-right: -1.5px;
  margin-top: 24px;
  min-width: 1680px;
}

.non-u-s-citizens-8 .list-item-container {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 238px;
  width: 821px;
}

.non-u-s-citizens-8 .list-item-1 {
  display: flex;
  gap: 37px;
  height: 46px;
  width: 811px;
}

.non-u-s-citizens-8 .check-1 {
  margin-top: 6px;
}

.non-u-s-citizens-8 .titleof-card {
  -webkit-text-stroke: 1px var(--dove-gray);
  flex: 1;
  height: 41px;
  letter-spacing: 0;
  line-height: 34px;
  margin-right: -2px;
  margin-top: -2px;
  width: 734px;
}

.non-u-s-citizens-8 .list-item-2 {
  display: flex;
  gap: 37px;
  height: 73px;
  margin-top: 36px;
  width: 801px;
}

.non-u-s-citizens-8 .check {
  height: 40px;
  margin-top: 3px;
  object-fit: cover;
  width: 40px;
}

.non-u-s-citizens-8 .titleof-card-1 {
  -webkit-text-stroke: 1px var(--dove-gray);
  align-self: flex-end;
  flex: 1;
  height: 75px;
  letter-spacing: 0;
  line-height: 34px;
  margin-right: -2px;
  width: 724px;
}

.non-u-s-citizens-8 .list-item-3 {
  display: flex;
  gap: 35px;
  height: 73px;
  margin-left: 2.0px;
  margin-top: 10px;
  width: 819px;
}

.non-u-s-citizens-8 .titleof-card-2 {
  -webkit-text-stroke: 1px var(--dove-gray);
  align-self: flex-end;
  flex: 1;
  height: 75px;
  letter-spacing: 0;
  line-height: 34px;
  margin-right: -2px;
  width: 744px;
}

.non-u-s-citizens-8 .list-item-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 188px;
  width: 849px;
}

.non-u-s-citizens-8 .list-item-4 {
  display: flex;
  gap: 30px;
  height: 73px;
  width: 849px;
}

.non-u-s-citizens-8 .check-2 {
  height: 40px;
  margin-top: 7px;
}

.non-u-s-citizens-8 .titleof-card-3 {
  -webkit-text-stroke: 1px var(--dove-gray);
  align-self: flex-end;
  flex: 1;
  height: 75px;
  letter-spacing: 0;
  line-height: 34px;
  margin-right: -2px;
  width: 779px;
}

.non-u-s-citizens-8 .list-item-5 {
  display: flex;
  gap: 29px;
  height: 107px;
  width: 848px;
}

.non-u-s-citizens-8 .check-3 {
  height: 40px;
  margin-top: 6px;
}

.non-u-s-citizens-8 .titleof-card-4 {
  -webkit-text-stroke: 1px var(--dove-gray);
  align-self: flex-end;
  flex: 1;
  height: 109px;
  letter-spacing: 0;
  line-height: 34px;
  margin-right: -2px;
  width: 779px;
}

/*.non-u-s-citizens-8*/ .flex-col {
  // align-items: flex-end;
  // display: flex;
  // flex-direction: column;
  // gap: 40px;
  // margin-left: 0.5px;
  margin-left: 5.5px;
  // margin-top: 62px;
  // min-height: 110px;
  // width: 1532px;
}

.non-u-s-citizens-8 .info-item {
  align-items: flex-end;
  display: flex;
  gap: 30px;
  height: 68px;
  width: 1532px;
}

.non-u-s-citizens-8 .info-1 {
  margin-bottom: 8px;
  margin-top: 3px;
  object-fit: cover;
  width: 57px;
}

.non-u-s-citizens-8 .titleof-card-5 {
  color: var(--black-2);
  flex: 1;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
  height: 70px;
  letter-spacing: 0;
  line-height: 34px;
  margin-right: -2px;
  width: 1445px;
}

.non-u-s-citizens-8 .span1-3 {
  font-weight: 500;
}

.non-u-s-citizens-8 .span5-1 {
  color: #2e71e5;
  text-decoration: underline;
}

.non-u-s-citizens-8 .path-9 {
  height: 1px;
  margin-right: 30.5px;
  object-fit: cover;
  width: 1px;
}

.non-u-s-citizens-8 .overlap-group-container {
  height: 1703px;
  margin-top: 36px;
  position: relative;
  width: 2642px;
}

.non-u-s-citizens-8 .overlap-group-1 {
  height: 932px;
  left: 0;
  position: absolute;
  top: 771px;
  width: 2631px;
}

.non-u-s-citizens-8 .path-1 {
  height: 711px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 2631px;
}

.non-u-s-citizens-8 .grid-one {
  align-items: flex-start;
  display: flex;
  height: 64px;
  left: 621px;
  min-width: 493px;
  position: absolute;
  top: 51px;
}

.non-u-s-citizens-8 .x7 {
  align-self: center;
  background-image: url(../images/rectangle-3-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 44px;
  margin-bottom: 9.59px;
  width: 67px;
}

.non-u-s-citizens-8 .x1 {
  height: 49px;
  margin-left: 28px;
  margin-top: 3px;
  object-fit: cover;
  width: 49px;
}

.non-u-s-citizens-8 .flex-col-1 {
  align-self: flex-end;
  gap: 1px;
  margin-bottom: -7.5px;
  margin-left: 20px;
  min-height: 69px;
  width: 329px;
}

.non-u-s-citizens-8 .bureau-of-educationa {
  letter-spacing: 0;
  line-height: 14px;
  min-height: 21px;
  white-space: nowrap;
}

.non-u-s-citizens-8 .text-grid-one {
  align-items: flex-start;
  flex-direction: column;
  gap: 2px;
  left: 620px;
  min-height: 368px;
  padding: 3px 0;
  top: 177px;
  width: 204px;
}

.non-u-s-citizens-8 .find-programs {
  letter-spacing: 0;
  line-height: 18px;
  min-height: 26px;
  white-space: nowrap;
}

.non-u-s-citizens-8 .line-1 {
  height: 8px;
  left: 623px;
  object-fit: cover;
  position: absolute;
  top: 125px;
  width: 1488px;
}

.non-u-s-citizens-8 .us-department-of-st {
  height: 302px;
  left: 620px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 630px;
  width: 1356px;
}

.non-u-s-citizens-8 .line-2 {
  height: 7px;
  left: 623px;
  object-fit: cover;
  position: absolute;
  top: 126px;
  width: 1488px;
}

.non-u-s-citizens-8 .line-3 {
  height: 8px;
  left: 620px;
  object-fit: cover;
  position: absolute;
  top: 588px;
  width: 1488px;
}

.non-u-s-citizens-8 .text-grid-two {
  flex-direction: column;
  height: 200px;
  justify-content: space-between;
  left: 1019px;
  top: 176px;
  width: 205px;
}

.non-u-s-citizens-8 .exchange-experience {
  flex: 1;
  height: 26px;
  line-height: 18px;
  margin-top: 3px;
  max-height: 26px;
}

.non-u-s-citizens-8 .text-grid-three {
  align-items: flex-start;
  gap: 216px;
  height: 396px;
  left: 1417px;
  min-width: 625px;
  top: 178px;
}

.non-u-s-citizens-8 .flex-col-2 {
  align-self: center;
  gap: 2px;
  min-height: 390px;
  width: 205px;
}

.non-u-s-citizens-8 .exchange-experience-1 {
  letter-spacing: 0;
  line-height: 18px;
  min-height: 26px;
  white-space: nowrap;
}

.non-u-s-citizens-8 .social-media-icons {
  align-items: center;
  display: flex;
  height: 45px;
  left: 1834px;
  min-width: 258px;
  position: absolute;
  top: 69px;
}

.non-u-s-citizens-8 .x11 {
  height: 40px;
  // margin-bottom: 1.0px;
  // margin-left: 11px;
  // object-fit: cover;
  width: 40px;
  margin: 0;
  margin-top: 40px;
}

.non-u-s-citizens-8 .overlap-group3 {
  height: 774px;
  left: 46px;
  position: absolute;
  top: 0;
  width: 2595px;
}

.non-u-s-citizens-8 .overlap-group-2 {
  height: 774px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2595px;
}

.non-u-s-citizens-8 .rectangle-33 {
  background-color: var(--endeavour);
  height: 774px;
  left: 84px;
  opacity: 0.03;
  position: absolute;
  top: 0;
  width: 2511px;
}

.non-u-s-citizens-8 .titleof-card-6 {
  left: 569px;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  top: 547px;
  width: 544px;
}

.non-u-s-citizens-8 .learn-more-1 {
  left: 569px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 644px;
  white-space: nowrap;
}

.non-u-s-citizens-8 .link-icon {
  height: 14px;
  left: 716px;
  object-fit: cover;
  position: absolute;
  top: 653px;
  width: 14px;
}

.non-u-s-citizens-8 .x11-1 {
  height: 306px;
  left: 570px;
  object-fit: cover;
  position: absolute;
  top: 221px;
  width: 540px;
}

.non-u-s-citizens-8 .line-14 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 2585px;
}

.non-u-s-citizens-8 .card2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1130px;
  min-height: 455px;
  position: absolute;
  top: 221px;
  width: 544px;
}

.non-u-s-citizens-8 .overlap-group1 {
  height: 309px;
  position: relative;
  width: 544px;
}

.non-u-s-citizens-8 .section1-images {
  height: 307px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 542px;
}

.non-u-s-citizens-8 .x12-1 {
  height: 308px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 544px;
}

.non-u-s-citizens-8 .titleof-card-7 {
  letter-spacing: 0;
  line-height: 38px;
  margin-top: 17px;
  min-height: 52px;
  width: 544px;
}

.non-u-s-citizens-8 .flex-row-1 {
  align-items: center;
  display: flex;
  gap: 16px;
  height: 36px;
  margin-top: 47px;
  min-width: 166px;
}

.non-u-s-citizens-8 .learn-more {
  letter-spacing: 0;
  line-height: 26px;
  min-height: 36px;
  min-width: 136px;
  white-space: nowrap;
}

.non-u-s-citizens-8 .link-icon-1 {
  margin-bottom: 2.0px;
}

.non-u-s-citizens-8 .title-of-section-and-icon {
  align-items: center;
  display: flex;
  gap: 14px;
  height: 86px;
  left: 564px;
  min-width: 611px;
  position: absolute;
  top: 70px;
}

.non-u-s-citizens-8 .related {
  height: 69px;
  margin-bottom: 5.0px;
  object-fit: cover;
  width: 69px;
}

.non-u-s-citizens-8 .overlap-group2 {
  align-self: flex-end;
  height: 85px;
  margin-bottom: -2px;
  position: relative;
  width: 528px;
}

.non-u-s-citizens-8 .title-of-section-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 20px;
  width: 528px;
}

.non-u-s-citizens-8 .exchanges-programs {
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.non-u-s-citizens-8 .card3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1697px;
  min-height: 462px;
  position: absolute;
  top: 219px;
  width: 578px;
}

.non-u-s-citizens-8 .x13-1 {
  height: 309px;
  object-fit: cover;
  width: 546px;
}

.non-u-s-citizens-8 .titleof-card-8 {
  letter-spacing: 0;
  line-height: 42px;
  margin-left: 3px;
  margin-top: 17px;
  min-height: 94px;
  width: 575px;
}

.non-u-s-citizens-8 .flex-row-2 {
  align-items: center;
  display: flex;
  gap: 15px;
  height: 36px;
  margin-left: 3px;
  margin-top: 12px;
  min-width: 165px;
}

.non-u-s-citizens-8 .link-icon-2 {
  margin-bottom: 8.0px;
}

.non-u-s-citizens-8 .top-header {
  align-items: flex-start;
  display: flex;
  gap: 247px;
  height: 90px;
  left: -8px;
  min-width: 2760px;
  position: fixed;
  top: 0;
}

.non-u-s-citizens-8 .overlap-group8 {
  align-items: flex-end;
  background-image: url(../images/path-15-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  gap: 156px;
  min-width: 2511px;
  padding: 0 8px;
}

.non-u-s-citizens-8 .overlap-group-3 {
  height: 84px;
  position: relative;
  width: 358px;
}

.non-u-s-citizens-8 .main-menu {
  align-items: flex-start;
  background-image: url(../images/path-16-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  gap: 17px;
  height: 84px;
  min-width: 358px;
  padding: 14px 53px;
}

.non-u-s-citizens-8 .flex-col-3 {
  gap: 8px;
  margin-bottom: 2.5px;
  min-height: 52px;
  width: 1943px;
}

/*.non-u-s-citizens-8*/ .flex-row-3 {
  // align-items: flex-start;
  display: flex;
  padding-left: 100px;
  // gap: 125px;
  // height: 39px;
  // min-width: 1943px;
  // flex-direction: column;
}

.non-u-s-citizens-8 .home-exchang {
  align-self: flex-end;
  color: var(--gallery);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 34px;
  min-width: 1786px;
  white-space: nowrap;
}

.non-u-s-citizens-8 .search {
  height: 32px;
  object-fit: cover;
  width: 32px;
}

.non-u-s-citizens-8 .line-12 {
  height: 5px;
  margin-left: 118px;
  object-fit: cover;
  width: 229px;
}

.non-u-s-citizens-8 .x35 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 8px;
  min-height: 2px;
  min-width: 2px;
  white-space: nowrap;
}

.non-u-s-citizens-8 .lorem-ipsum-dolor-si {
  -webkit-text-stroke: 1px var(--dove-gray);
  align-self: flex-end;
  height: 39px;
  letter-spacing: 0;
  line-height: 28px;
  margin-bottom: -18.2px;
  margin-left: 274px;
  width: 1402px;
}

.non-u-s-citizens-8 .image-1 {
  height: 47px;
  margin-right: 341px;
  margin-top: -21.6px;
  object-fit: cover;
  width: 475px;
}

.non-u-s-citizens-8 .rectangle-37 {
  border: 1px solid;
  border-color: var(--midnight);
  cursor: pointer;
  height: 69px;
  left: 373px;
  position: absolute;
  top: 6px;
  width: 221px;
}

.non-u-s-citizens-8 .rectangle-37-1 {
  border: 1px solid;
  border-color: var(--midnight);
  cursor: pointer;
  height: 64px;
  left: 629px;
  position: absolute;
  top: 6px;
  width: 251px;
}

.non-u-s-citizens-8 .check-4 {
  object-fit: cover;
  width: 40px;
}

.non-u-s-citizens-8 .exchange {
  letter-spacing: 0;
  margin-right: -2px;
  white-space: nowrap;
}

/*.non-u-s-citizens-8*/ .flex-col-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.non-u-s-citizens-8 .main {
  display: flex;
  left: 0;
  position: absolute;
  top: 0;
}