.block-search-form-block.active {
  margin-top: -32px;
  display: block;
  width: 0px;
  margin-left: 41%;
  margin-bottom: -28px;

  @include bp(xs) {   //450px

  }
  @include bp(md) {

  }
  @include bp(lg) {
    margin-top: -33px;
    display: block;
    width: 0px;
    margin-left: 90%;
    margin-bottom: -28px;
  }

}


.block-search-form-block.active {
  .header-box {
  //  margin-left: 254px;
  }
}

.eca_ex-search-text {
  width: 124px;
  position: relative;
  display: block;
  height: 26px;
  margin-right: 15px;
  border: 0px;
  color: #000000;
  font-size: 0.78571em;
  padding: 0;
  background-color: #dcdcdc;
  border-radius: 2%;
  top: 2px;
  font-family: var(--font-family-roboto);
  padding-left: 2px;
  z-index: 2;

  .header-box {
      margin-left: 254px;
    }

}


.eca_ex-search-text:focus {
  outline: none;
}

.eca_ex-search-submit{

   background: url(../images/search-1@1x.png);
   background-repeat: no-repeat;
   height: 25px;
   width: 25px;
   background-size: cover;
   border: 0px;
   font-size: 0px;
   padding-top: 5px;
   margin-left: -9px;

   @include bp(xs) {   //450px

   }
   @include bp(md) {

   }
   @include bp(lg) {
    background: url(../images/search-1@1x.png);
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    background-size: cover;
    border: 0px;
    font-size: 0px;
  /* padding-top: 10px;
    margin-left: -9px;*/
    padding-top: 20px;
    margin-left: 0px;

   }

}

#header #search-block-form {
  padding: 5px 15px;
  flex-flow: inherit;
}

//// General Search Page

.general-search-form  {
  padding-left: 7.3%;
  padding-top: 4%;
  background-color: #DDAD1F;
  padding-bottom: 2%;
}

.general-search-input {
  height: 30px;
  font-size: 30px;
  border-color: #6F7378;
  background-color: #6F7378;
  margin-left: 12px;
  border-width: 0px;
  width:97%;
}

.search-help-link {
  color: #000000;
}

.search-help-link:hover {
  color: #000000;
}


body.Search-Results-Body h2{
  display: none;
}

#edit-help-link {
 display: none;
}

label[for="edit-keys"] {
  margin-top: 40px;
  margin-left: 112px;
  font-size: 30px;
}

//// Hide Advanced Search
#edit-advanced {
  display: none;
  margin-left: 90px;
  background-color: #6F7378;
  color:#ffffff;
}

.exchangealumni-search-submit{

  background: url(../images/search-1@1x.png);
  background-repeat: no-repeat;
  height: 1px;
  width: 0px;
  background-size: cover;
  border: 0px;
  font-size: 0px;
  padding-top: 19px;
  margin-left: 9px;
  margin-right: -2px;
  padding-left: 15px;
  margin-top: 6px;

  @include bp(xs) {   //450px

  }
  @include bp(md) {

  }
  @include bp(lg) {
    background: url(../images/search-1@1x.png);
    background-repeat: no-repeat;
    height: 1px;
    width: 0px;
    background-size: cover;
    border: 0px;
    font-size: 0px;
    padding-top: 19px;
    margin-left: 9px;
    margin-right: -2px;
    padding-left: 15px;
    margin-top: 6px;
  }

}
