.tla {
    &-page {

        .eca_ex-search-submit {
            display: none !important;
        }

    }

    &-buttons-list-drop-down {
        width: 160px;
        position: relative;
        display: block;
        flex-direction: row;
        margin-bottom: 20px;
        font-family: var(--font-family-roboto);

        &::after {
            content: ' ';
            width: 15px;
            height: 15px;
            position: absolute;
            right: 10px;
            bottom: 11px;
            background-size: contain !important;
            background: url($images + 'dropdown-icon@1x.png') no-repeat;
        }

        &.active,
        &:hover {
            &::after {
                content: ' ';
                width: 15px;
                height: 15px;
                position: absolute;
                right: 10px;
                bottom: 11px;
                background-size: contain !important;
                background: url($images + 'icons-down@1x.png') no-repeat;
            }
        }
    }
    &-buttons-list-drop-down,
    &-buttons {
        background-color: #e9f1f7;
        border: 1px solid #ccc;
        font-family: var(--font-family-roboto);
        transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
        padding: 10px;
        border-radius: 20px;
        overflow: hidden;
        font-size: 12px;
        color: #000 !important;
        margin-left: 2px;
        margin-right: 12px;
        margin-top: 15px;


        &:hover {
            background-color: var(--deep-sapphire);
            color: #fff !important;
        }

        &-list {
            position: relative;
            flex-direction: column;
            display: none;
            padding-left: 0px !important;

            &.active {
                display: flex;
            }

            @include bp(sm) {
                flex-direction: row;
            }

            li {
                margin: 5px 0;
            }
        }

        &.active {
            background-color: var(--deep-sapphire);
            color: #fff !important;
        }
    }

    &-sfa-buttons {
        display: flex !important;
        flex-direction: column;

        @include bp(sm) {
            flex-direction: row;
        }

        &-list {
            display: flex !important;
        }
    }
}

#open-app-non-us,
#special-focus-areas,
#list-programs,
#find-programs {
    display: none;

    &.active {
        display: block;
    }
    /*Travel and Living Arrangments*/
    div.views-field.views-field-field-tla-resources-image {
            max-width: 100%;
            width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
            margin-top: 0px;
        @include bp(lg) {
            max-width: 100%;
            width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
            margin-top: 0px;
        }
     }
    span.field-content{
        font-size: 20px;
        line-height: 26px;
        font-family: Roboto, sans-serif;
        font-weight:bold;
        color: #040326;
        margin-top: 0;
      @include bp(lg) {
        font-size: 20px;
        line-height: 26px;
        font-family: Roboto, sans-serif;
        font-weight:bold;
        color: #040326;
        margin-top: 0;
      }
    }
    div.field-content{
        color: #000;
        font-family: Roboto, sans-serif;
        font-size: 12px;
        line-height: 20px;
        margin-right: 10px;
        @include bp(lg) {
            color: #000;
            font-family: Roboto, sans-serif;
            font-size: 12px;
            line-height: 20px;
            margin-right: 10px;
        }
    }
    div.views-field.views-field-field-tla-resources-link{
      @extend .feat-moreprg-link-text;
      margin-top: -10px;
    }
}

.tla-view {

    h2,
    h3 {
        margin: 0;
        font-family: var(--font-family-roboto);
    }

    h2 {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
    }
    h3 {
        font-size: 14px;
    }

   /* p {
        font-size: 18px;
    }*/

    .eca_ex-search-submit {
        display: none !important;
    }

    .view-header {
        position: relative;
        max-width: 1600px;
    }

    .image-holder {
        position: relative;
        display: block;
        margin-right: 0px;

        .x11 {
            bottom: -9px;
            position: relative;
            left: -10px;
            display: block;
            margin-bottom: 2rem !important;
        }
    }


    .flex-col {
        margin-top: 0;
        min-height: inherit;
        width: 600px;
    }

    .flex-row-3 {
        margin-top: 25px;
        padding-left: 0;
    }

    .view-content.row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        @include bp(sm) {
            flex-direction: row;
        }

        .views-row {
            max-width: 300px;
        }
    }

    .form-radios {
        display: flex !important;
        flex-direction: column;

        @include bp(sm) {
            flex-direction: row;
        }

        #edit-field-special-focus-areas-value-technology,
        #edit-field-special-focus-areas-value-education-teaching,
        #edit-field-special-focus-areas-value-arts-culture,
        #edit-field-special-focus-areas-value-all {
            display: none !important;
        }

        .form-item-field-special-focus-areas-value {
            margin: 0;
            padding: 0;

            input {
                display: none;
            }
        }

        .form-check-label {
            background-color: #e9f1f7;
            border: 1px solid #ccc;
            font-family: var(--font-family-roboto);
            transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
            padding: 10px;
            border-radius: 20px;
            overflow: hidden;
            font-size: 12px;
            color: #000 !important;
            margin-right: 15px;

            &:hover {
                background-color: #004eaa;
                color: #fff !important;
            }
        }

        .form-check-input[type=radio] {
            display: none;
        }

         .form-check {
          /*padding-left: 0.5em;*/
            margin-left: -29.6px;
        }
    }

}

.lta-page {
   .fp-container {
        .view-content.row {
            display: none !important;
        }
   }
}

.tla-gt-view {
    h2,
    h3 {
        margin: 0;
        font-family: var(--font-family-roboto);
    }

    h2 {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
    }
    h3 {
        font-size: 14px;
    }

    .flex-row-3 {
        padding-left: 0px;
        padding-top: 2rem;
    }

    .image-holder {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        margin-right: 10px;
        margin-bottom: 0px;
    }

    .eca_ex-ln-date {
      font-size: 14px;
    }

}

.tla-view, .list-group-item {
    border: 0px;
}

.gt-rd-box {
   flex-direction: column;
   @include bp(lg) {
        display: flex;
        flex-direction: row;
        column-gap: 8px;
        margin-bottom: -2px;
        width: 103%;
   }
}

.gt-required-documentation-image {
    width: 100%;
    height: auto;
    @include bp(lg) {
        max-width: 100%;
        width: 20%;
        height: 88px;
        display: block;
        margin: 0 auto;
        margin-top: 4px;
    }
}

.gt-tr-box {
    flex-direction: column;
    @include bp(lg) {
        display: flex;
        flex-direction: row;
        column-gap: 8px;
        margin-bottom: -10px;
        width: 103%;
    }
}

.gt-travel-resources-image {
    width: 87%;
    margin-left: 0%;
    height: auto;
    @include bp(lg) {
        max-width: 100%;
        width: 20%;
        height: 88px;
        display: block;
        margin: 0 auto;
        margin-top: 4px;
    }
}


.while-there-box {
    flex-direction: column;
    margin-left: 0%;
    @include bp(lg) {
        display: flex;
        flex-direction: row;
        column-gap: 15px;
        margin-bottom: -10px;
        width: 103%;
    }
}

.while-there-image {
    margin-left: 0%;
    max-width: 100%;
    width: 56%;
    height: 150px;
    display: block;

    margin-top: 4px;
    @include bp(lg) {
        max-width: 100%;
        width: 56%;
        height: 150px;
        display: block;
        margin: 0 auto;
        margin-top: 4px;
    }

}


.wt-kt-box {
    flex-direction: column;
    width: 100%;
    @include bp(lg) {
        display: flex;
        flex-direction: row;
        column-gap: 8px;
        margin-top: 7px;
        width: 103%;
    }
}

.hs-medical-care-image{
    width: 85%;
    height: auto;
    margin-left: 0%;
    @include bp(lg) {
        max-width: 100%;
        width: 16%;
        height: 128px;
        display: block;
        margin: 0 auto;
        margin-top: 4px;
    }
}

#blazy-views-tla-resources-block-tla-while-there-block-3{
    width: 100%;
}

#blazy-views-tla-resources-block-tla-health-safety-block-4{
    width: 100%;
}



.tla-more-prg-h{
    font-size: 20px;
    line-height: 26px;
    font-family: Roboto, sans-serif;
    font-weight:bold;
    color: #040326;
    margin-top: 0;
@include bp(lg) {
    font-size: 20px;
    line-height: 26px;
    font-family: Roboto, sans-serif;
    font-weight:bold;
    color: #040326;
    margin-top: 0;
}
}

.tla-moreprg-p{
color: #000;
font-family: Roboto, sans-serif;
font-size: 12px;
line-height: 20px;
margin-right: 10px;
width:55%;
    @include bp(lg) {
        color: #000;
        font-family: Roboto, sans-serif;
        font-size: 12px;
        line-height: 20px;
        margin-right: 10px;
    }
}

.hs-mc-moreprg-p{
    color: #000;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    line-height: 20px;
    margin-right: 10px;
    width:84%;
        @include bp(lg) {
            color: #000;
            font-family: Roboto, sans-serif;
            font-size: 12px;
            line-height: 20px;
            margin-right: 10px;
        }

    }

.tla-x11 {
        margin-bottom: 2rem;
        margin-right: 0.5rem;
        width: 45px;
        height: 45px;
    }

.tla-feat-moreprg-p {
    margin-bottom: 15px;
}

/* Hiding 'Any' radio buttons   */
.tla-view .form-radios .form-check-label[for^="edit-field-tla-getting-there-tabs-value-all"]{
display: none;
}
.tla-view .form-radios .form-check-label[for^="edit-field-tla-while-there-tabs-value-all"]{
    display: none;
}
.tla-view .form-radios .form-check-label[for^="edit-field-tla-health-safety-tabs-value-all"]{
    display: none;
}
//===========================================================
.body {
    font-family: 'Roboto', sans-serif;
}
.nav-primary {
    background-color: #040326;
    color: white;
}
.navbar {
    margin-bottom: 0;
    background-color: #040326;
    z-index: 9999;
    border: 0;
    font-size: 15px !important;
    border-radius: 0;
    font-family: Roboto, sans-serif;
}
.dark-background {
    background-color: #f0edef;
    margin-top: -5px;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
#more {
    display: none;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: white !important;
    border-bottom: 2px solid #C91114;
}
.nav-item li a:hover, .navbar-nav li.active a {
    color: white !important;
    border-bottom: 2px solid #C91114;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 14px;
    color: #020000;
    // text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}
.Blue-Color {
    color: #040326;
}
.secondary, .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #0d6efd;
}/*#pills-Getting-tab, .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #3E47EC;
    font-weight: 400;
}*/
.nav-pills .nav-link {
    background: 0 0;
    border: 0;
    border-radius: 1rem;
    background-color: #dbe8f1;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #002868;
    font-weight: 600;
}
a {
    color: #06c;
}
a:hover {
    color: #06c;
    text-decoration: underline;
}
.h1 {
    font-family: 'Merriweather', sans-serif;
    font-weight: bold;
    font-size: 200%;
    margin-top: -7px;
}
.title-4Cards {
    font-family: Roboto;
    font-size: 20px;
}
.fw-bold {
    text-decoration: none;
}
.back {
    color: #2A2929;
    text-decoration: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
    font-size: 3.5rem;
}
}
.rounded-4 {
    border-radius: 12px;
}
.rounded-5 {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}
.bg-active {
    background-color: #002868;
    color: white;
}
.pt-n1 {
    padding-top: -15px;
    margin-top: -15px;
    z-index: 9900;
}
#blazy-views-tla-resources-block-tla-health-safety-block-1{
    width: 100% !important;
}
#blazy-views-tla-resources-block-tla-while-there-block-1{
    width: 100% !important;
}

