// Image Path
$images: '../images/';

// Colors
$trans_blue: #00286891;


//Avalon Transition Animatiom
$eI-1s: ease-in-out 1s;
$eI-500ms: ease-in-out 500ms;
$eI-250ms: ease-in-out 250ms;

//Avalon Fonts Weight Style 

$avalon-sofie: sofia-pro-soft, sans-serif;
$avalon-Normal: normal;
$avalon-300:  300;
$avalon-400:  400;
$avalon-500:  500;
$avalon-700:  700;

// Colors

$avalon-border-bottom: #d3d9dd;$avalon-med-grey: #404346; 
$avalon-med-grey-30: rgba(64, 67, 70, 0.30);
$avalon-white: #ffffff;
$avalon-blue: #00bedf;
$avalon-blue-normalState: #00bedf;
$avalon-blue-activeState: #30c9e8;
$avalon-off-white: #fafafa;
$avalon-box-shadow-0: #ececec;
$avalon-overlay-0: rgba(0,0,0,0.0);
$avalon-overlay-75: rgba(0,0,0,0.65);
$avalon-overlay-white-0: rgba(255,255,255,0.0);
$avalon-overlay-white-75: rgba(255,255,255,1.0);
$avalon-off-blue: #f7fafd;
